.emailList {
    flex: 1;
    overflow: scroll;
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.emailList__settings {
    display: flex;
    justify-content: space-between;
    top: 0;
    position: sticky;
    z-index: 999;
    padding-right: 15px;
    padding-top: 9px;
    padding-bottom: 2px;
    padding-left: 20px;
    background-color: white;

}

.emailList__settingsLeft {
    display: flex;
}

.emailList__settingsCheckbox {
    margin-right: 8px;
}

.emailList__settingsCheckbox > .MuiSvgIcon-root {
    font-size: 18.5px;
    color: #444444;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 2px;
    padding-right: 2px;
}

.emailList__settingsLeft > .MuiSvgIcon-root {
    font-size: 18.5px;
    margin-right: 8px;
    padding: 8px;
    color: #444444;
}

.emailList__settingsRight {
    display: flex;
}

.emailList__settingsKeyboard > .MuiSvgIcon-root {
    font-size: 19.5px;
    color: #444444;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 2px;
    padding-right: 2px;
}

.emailList__settingsRight > .MuiSvgIcon-root {
    font-size: 20px;
    margin-right: 8px;
    padding: 8px;
    color: #444444;
}

.emailList__sections {
    position: sticky;
    top: 0;
    display: flex;
    z-index: 999;
    border-bottom: 1px solid whitesmoke;
}

.emailList__list {
    padding-bottom: 11%;
}

.emailList__settingsCheckbox > .MuiSvgIcon-root:hover {
    background-color: #ededed;
    border-radius: 5px;
    cursor: pointer;
}

.emailList__settingsLeft > .MuiSvgIcon-root:hover {
    background-color: #ededed;
    border-radius: 20px;
    cursor: pointer;
}

.emailList__settingsKeyboard > .MuiSvgIcon-root:hover {
    background-color: #ededed;
    border-radius: 5px;
    cursor: pointer;
}

.emailList__settingsRight > .MuiSvgIcon-root:hover {
    background-color: #ededed;
    border-radius: 20px;
    cursor: pointer;
}