.sendMail {
    position: absolute;
    bottom: 0px;
    right: 70px;
    background-color: white;
    width: 50%;
    height: 73.5%;
    max-width: 500px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid whitesmoke;
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.24);
}

.sendMail__send > hr {
    border-left: 6px solid green !important;
    height: 500px;
}

.sendMail__header {
    padding: 10px;
    padding-left: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f6fc;
    cursor: pointer;
}

.sendMail__headerRight > .MuiSvgIcon-root {
    font-size: 15px;
    margin-left: 5px;
}

.sendMail__headerRight > .MuiSvgIcon-root:hover {
    font-size: 15px;
    background-color: #ededed;
}

.sendMail__header > h3 {
    color: black;
    font-size: 14px;
    font-weight: 500;
}

.sendMail__send {
    background-color: #0b57d0!important;
    text-transform: capitalize !important;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 20px;
    border-radius: 20px;
    font-weight: 500 !important;
}

.sendMail__close {
    cursor: pointer;
}

.sendMail > form {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.sendMail > form > input {
    height: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 6px;
    padding-bottom: 3px;
    border: none;
    border-bottom: 1px solid #ededed;
    outline: none;
    font-size: 14px;
}

.sendMail__options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px !important;
    margin-bottom: 10px !important;
    margin-right: 10px !important;
    margin-left: 15px !important;
}

.sendMail__optionsRight {
    display: flex;
}

.sendMail__optionsRight > .MuiSvgIcon-root {
    font-size: 19px;
}

.sendMail__optionsLeft {
    display: flex;
    align-items: center;
}
.sendMail__optionsLeft > .MuiSvgIcon-root {
    display: flex;
    align-items: center;
    font-size: 19px;
    margin-left: 9px;
    padding: 2px;
}

.sendMail__optionsLeft > .MuiSvgIcon-root:hover,
.sendMail__optionsRight > .MuiSvgIcon-root:hover {
    background-color: #ededed;
    cursor: pointer;
}

.sendMail__error {
    background-color: white;
    color: red;
    text-align: right;
    font-size: 15px;
    padding: 2px;
}


.sendMail__message {
    flex: 1;
    border: none;
    padding: 15px;
}

