.sidebar {
    flex: 0.25;
    max-width: 300px;
    
}

.sidebar__compose {
    margin-top: 15px !important;
    margin-left: 13px !important;
    margin-bottom: 15px !important;
    text-transform: capitalize !important;
    color: gray;
    padding: 15px !important;
    border-radius: 30px !important;
    box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.75);
}

.sidebar__more {
    text-transform: none !important;
}

.sidebar__bottom {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 500;
    margin-left: 30px;
    margin-top: 25px;
    align-items: center;
    margin-right: 16px;
}

.sidebar__bottom > .MuiSvgIcon-root {
    font-size: 20px;
    padding: 8px;
}

.sidebar__bottom > .MuiSvgIcon-root:hover {
    background-color: #ededed;
    cursor: pointer;
    border-radius: 20px;
}
